@font-face {
    src: url(./fonts/Honk-Regular-VariableFont_MORF\,SHLN.ttf);
    font-family: "Honk", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-family: "Honk", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 120px;
    font-style: normal;
    font-variation-settings:
        "MORF" 20,
        "SHLN" 50;
    margin: -45px 0 -15px 0;
    position: relative;
    z-index: 1;
}


main {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/PNG/User_Interfaces/LandingScreen.png');
    background-size: cover;
    background-position: center;
    position: relative;
     background-color: rgba(0, 0, 0, 0.7);
   
}

main::before {
    content: "";
    position: absolute;
    inset: 0;                     
    background: rgba(0, 0, 0, 0.7);  
    z-index: 0;
}



.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100dvh;
    position: relative;
   

}


canvas {
    max-width: 95vw;
    max-height: 100vh;
    filter: brightness(1.2);
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3),
                0 0 60px rgba(255, 255, 255, 0.2);
}

