@font-face {
    src: url(../fonts/blablahawk/Blablahawk.ttf);
    font-family: "blablaHawk";
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mad {
    margin-top: 15px;
    font-family: "blablaHawk";
    background: linear-gradient(to bottom, #44bdf9 0%, #1771cd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #0a2d4d;
    filter: drop-shadow(2px 4px 0px #1a4c70);
    font-weight: 900;
    font-size: clamp(40px, 10vw, 70px);
    margin-bottom: clamp(-60px, -5vw, 50px);
}

.scientist {
    font-family: "blablaHawk";
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: clamp(55px, 14vw, 150px);
    margin: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #cdd94c 10%, #58b729 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #046eba;
    filter: drop-shadow(2px 4px 0px #1a4c70);
    margin-bottom: -60px;
}


@media (max-width: 1124px) {
    .scientist {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .scientist {
        margin-bottom: 0px;
    }

}